{% extends "capaivara.html" %}

{% block titulo %}
    {{ teto }} PAGE
{% endblock %}

{% block body %}
    {% block formulario %}
        <form method="POST">
            {{ form.csrf_token }}

            {{ form.email.label() }}
            {{ form.email() }}

            {{ form.password.label() }}
            {{ form.password() }}

            {{ form.btn() }}

        </form>
    {% endblock %}


    {% for i in range(0, 3): %}
        <h1>QUALQUER COISA LEGAL</h1>
    {% endfor %}


    <h2> {{ teto }} </h2>

    <!-- FORMA PODRE -->
    <a href="/profile/roberto"> PERFIL DO ROBERTO </a> <br>
    <a href="/profile/maria"> PERFIL DA MARIA </a> <br>
    <a href="/profile/JUBSCLAYTHON"> PERFIL DO JUBSCLAYTHON </a> <br> <br> <br>

    <!-- VOCE ACERTOU -->
    <a href=" {{ url_for('profile', user_id='roberto') }} "> PERFIL DO ROBERTO </a> <br>
    <a href=" {{ url_for('profile', user_id='MARIA') }} "> PERFIL DA MARIA </a> <br>
    <a href=" {{ url_for('profile', user_id='JUBSCLAYTHON') }} "> PERFIL DO JUBSCLAYTHON </a><br>




{% endblock %}